<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.brianc.weatherapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.brianc.weatherapp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.brianc.weatherapp.CurrentWeather"
            android:label="@string/title_activity_current_weather"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.brianc.weatherapp.Hourly"
            android:label="@string/title_activity_hourly"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.brianc.weatherapp.Avg48Hours"
            android:label="@string/title_activity_avg48_hours"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.brianc.weatherapp.Weekly"
            android:label="@string/title_activity_weekly"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.brianc.weatherapp.Past"
            android:label="@string/title_activity_past"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>